/*
border : 테두리
width : 가로
height: 높이
*/

/* 글자색 */
.red-text { color : #ff0000; }
.blue-text { color : #0000ff; }

/* table */
table.table-std {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
}
table.table-std th {
  width: 100px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #0080ff ;
}
table.table-std td {
  width: 100px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #c0c0c0;
}


/* button */
.btn-blue {
	background-color: #ff80ff;
	color: #fff;
	border: none;
}


/* selectBox */
.selectBox-std{
    width: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.selectBox-std:focus{
    border: 1px solid #9B51E0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 3px solid #F8E4FF;
    border-radius: 10px;
}