<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="css/css.css" rel="stylesheet" type="text/css">
	<title>component</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<h1>component 모음</h1>
	</div>
	<div>
		<h3>selectBox</h3>
	</div>
	<div>
		<select class="selectBox-std" name="test">
			<option value="">초기</option>
			<option value="TTT">TTT표시</option>
			<option value="EEE">EEE표시</option>
			<option value="SSS">SSS표시</option>
		</select>
	</div>


	<div>
		<h3>button</h3>
	</div>
	<div>
		<button class="btn-blue">생성</button>
	</div>


	<div>
		<h3>table</h3>
	</div>
	<div>
		<table class="table-std">
			<thead>
				<tr>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>