<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" href="css/css.css">
	<title>Hello</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>시작</h1>
	<div>
		<button class="btn-blue" th:onclick="creatLotto()">생성</button>
	</div>
	<h4>번호</h4>
	<table class="table-std">
		<thead>
			<tr>
				<th>첫번째</th>
				<th>두번째</th>
				<th>세번째</th>
				<th>네번째</th>
				<th>다섯번째</th>
				<th>여섯번째</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="lotto00">0</td>
				<td id="lotto01">0</td>
				<td id="lotto02">0</td>
				<td id="lotto03">0</td>
				<td id="lotto04">0</td>
				<td id="lotto05">0</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<th:block layout:fragment="script">
	<script>
    var contextPath = "[[${contextPath}]]";
	
	function creatLotto() {
		var arr = new Array(6);
		
		for( var i = 0; i <= arr.length-1; i++ ) {
			var cnt = Math.random();

			cnt = Math.floor(cnt * 45);
			
			arr[i] = cnt + 1;

			for ( var j = 0; j < i; j++ ) {
				if ( arr[j] == arr[i] ) {
					i = i - 1;
					break;
				}
			}

			$("#lotto0"+i).text(arr[i]);
		}
	}
    
  </script>
</th:block>